body{
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.botao {
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background- color 0.3s ease;
}

.botao.hover {
    background-color: black;
}